/* gloval css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 90%;
    margin: auto;
}
/* header is here */
#header{
    padding: 15px;
    width: 100%;
    float: left;
}
.logo-part{
    width:20%;
    float:left;
}
.logo-part a img{
    width: 55%;

}
.menu-part{
    width: 60%;
    float: left;
}
.menu-part nav{
    margin: 18px 50px;
    
}
.menu-part nav ul{

}
.menu-part nav ul li{
    display: inline-block;
    margin: 0px 24px;
}
.menu-part nav ul li a{
    text-decoration: none;
    color: black;
    font-weight:700;
    font-size: 21px;
}
.search-part{
    width: 20%;
    float: left;
}
.search-part  input{
    padding: 9px;
    margin: 12px;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 17px;
    width: 85%;
}
.search-part input::placeholder{
    text-align: right;
    font-size: 17px;
}
.search-part i{
    font-size: 25px;
    display: inline-block;
}
/* hero section */
#hero{
    width: 100%;
    float: left;
    background: url(image/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 50px 0px;
}
.hero-wp{
    width: 50%;
    float: left;
    padding-top: 150px;

}
.hero-wp h2{
    color: #00b9a0;
    font-size: 30px;
}
.hero-wp h1{
    color:white;
    font-size: 50px;

}
.hero-wp p{
    max-width: 400px;
    text-align: justify;
    color:white;
    font-size: 18px;
    margin: 50px 0px;
}
#hero a button{
    background-color: transparent;
    color: white;
    padding: 10px;
    width: 150px;
    border: 2px solid white;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
}
#hero a button:hover{
    background-color: #ff0b8d;
}
.hero-images{
    margin-top: 35px;

}
.hero-images img{
    width: 70px;
    margin-right: 20px;

}
.hero-ip{
    width: 50%;
    float: left;
    text-align: center;
}
.hero-ip img{
    width: 60%; 
    margin-top: 80px;
}